@page "/Product/Update/{Id:int}"
@using InsureManage.Interfaces;
@using InsureManage.Models;
@inject NavigationManager Navigation

<a class="mb-4 text-decoration-none" href="/Position">กลับไปยังหน้าเดิม</a>
<h3>แก้ไขเกี่ยวกับตำแหน่งที่เก็บของ</h3>
@if (!string.IsNullOrEmpty(Message))
{
    <p class="text-success">@Message</p>
}
<EditForm Model="@LocationItem" OnValidSubmit="@SavePostionToDatabase">
    <label for="NameLocation">ชื่อที่เก็บตำแหน่งใหม่ (ชื่อเดิม : @LocationItem.NameLocationItem)</label>
    <InputText class="w-100" @bind-Value="LocationItem.NameLocationItem" id="NameLocation" />
    <button class="w-100 btn btn-info mt-3" type="submit">บันทึกข้อมูล</button>
</EditForm>
@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    private ILocationitem LocationitemService { get; set; }
    private LocationItem LocationItem { get; set; } = new LocationItem();
    private string Message { get; set; } = null;

    protected async override Task OnInitializedAsync()
    {
        LocationItem = await LocationitemService.GetByIdPositionAsync(Id);
    }

    private async Task SavePostionToDatabase()
    {
        bool status = await LocationitemService.MovePositionAsync(LocationItem);
        if (status) Message = "ข้อมูลถูกบันทึกสำเร็จแล้ว";
        else Message = "ข้อมูลบันทึกไม่สำเร็จ";
    }
}
