@page "/LocationItem"
@using InsureManage.Interfaces;
@using InsureManage.Models;
@inject NavigationManager Navigation
<h3>PositionView</h3>
<button @onclick="@(()=> Navigation.NavigateTo("/PositionAdd"))">เพิ่มตำแหน่งที่เก็บของ</button>
<CascadingValue Value="@LocationItem" Name="PositionContent">
    <TableShowShareComponent />
</CascadingValue>

@code {
    [Inject]
    protected ILocationitem PositionService { get; set; }
    private List<LocationItem> LocationItem { get; set; } = new List<LocationItem>();

    protected override async Task OnInitializedAsync()
    {
        LocationItem = await PositionService.GetAllPositionAsync();
    }
}
