@page "/Position"
@using InsureManage.Interfaces;
@using InsureManage.Models;
@inject NavigationManager Navigation
<h3>จัดการตำแหน่งที่เก็บของทั้งหมด</h3>
<input class="border border-warning border-2 rounded p-3 w-100 mb-2" type="search" placeholder="ค้นหา : เลขไอดี ชื่อตำแหน่งที่เก็บของ" @bind-value="KeywordSearch" style="height:35px" />
<br />
<div class="btn-group w-100">
<button class="btn btn-primary text-white" @onclick="SearchLocationItem">ค้นหาตำแหน่งที่เก็บ</button>
<button class="btn btn-success" @onclick="@(()=> Navigation.NavigateTo("/PositionAdd"))">เพิ่มตำแหน่งที่เก็บของ</button>
</div>
<div class="mt-3">
    <CascadingValue Value="@Locationitem" Name="PositionContent">
        <TablePositionComponent DataIsUpdate="@UpdateDataNew" />
    </CascadingValue>
</div>
@code {
    [Inject]
    protected ILocationitem LocationitemService { get; set; }
    private List<LocationItem> Locationitem { get; set; } = new List<LocationItem>();
    private String KeywordSearch { get; set; } = null;
    protected override async Task OnInitializedAsync()
    {
        Locationitem = await LocationitemService.GetAllPositionAsync();
    }

    private async Task SearchLocationItem()
    {
        Locationitem = await LocationitemService.SearchLocationitemAsync(KeywordSearch);
    }
    private async Task UpdateDataNew(bool status)
    {
        if (status == true)
        {
            Locationitem = await LocationitemService.GetAllPositionAsync();
            status = false;
        }
    }
}
