@inherits LayoutComponentBase

<PageTitle>InsureManage</PageTitle>

<div class="bb-page">
    <Sidebar @ref="sidebar"
             IconName="IconName.HouseFill"
             Title="จัดการภายในบ้าน"
             BadgeText="1.0.1V"
             DataProvider="SidebarDataProvider" />
    <main>
        <div class="bb-top-row px-4 d-flex justify-content-end">
            <LoginDisplay />
        </div>
        <article class="content px-4">
            <div class="py-2">@Body</div>
        </article>
    </main>
</div>
@code {
    Sidebar sidebar;
    IEnumerable<NavItem> navItems;
    private async Task<SidebarDataProviderResult> SidebarDataProvider(SidebarDataProviderRequest request)
    {
        if (navItems is null)
            navItems = GetNavItems();
        return await Task.FromResult(request.ApplyTo(navItems));
    }
    private IEnumerable<NavItem> GetNavItems()
    {
        navItems = new List<NavItem>
        {
            new NavItem { Id = "2", IconName = IconName.BoxSeamFill, Text = "สินค้า", IconColor = IconColor.Primary },
            new NavItem { Id = "3", IconName = IconName.Clipboard2PulseFill, Href = "/Product", Text = "ดูสินค้าที่ถูกบันทึก", ParentId="2"},
            new NavItem { Id = "4", IconName = IconName.Clipboard2PlusFill, Href = "/ProductAdd", Text = "เพิ่มสินค้า", ParentId="2"},
            new NavItem { Id = "5", IconName = IconName.InboxesFill, Text = "ที่จัดเก็บ", IconColor = IconColor.Success },
            new NavItem { Id = "6", IconName = IconName.Clipboard2PulseFill, Href = "/Position", Text = "ดูที่จัดเก็บที่ถูกบันทึก", ParentId="5"},
            new NavItem { Id = "7", IconName = IconName.Clipboard2PlusFill, Href = "/PositionAdd", Text = "เพิ่มที่จัดเก็บ", ParentId="5"},

        };
        return navItems;
    }
}
<style>
    :root {
        --bb-sidebar-background-color: #ECF2FF;
        --bb-sidebar-top-row-background-color: #655DBB;
    }
</style>