<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">InsureManage</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> หน้าหลัก
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Product">
                <span class="oi oi-plus" aria-hidden="true"></span> สินค้าทั้งหมด
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Position">
                <span class="oi oi-plus" aria-hidden="true"></span> เพิ่มที่เก็บสินค้า
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
