@using InsureManage.Models;
<table class="table-primary">
    <tr>
        <td>ไอดี</td>
        <td>ชื่อตำแหน่งที่เก็บของ</td>
    </tr>
    @foreach (var v in LocationItem)
    {
        <tr>
            <td>@v.IdLocationItem</td>
            <td>@v.NameLocationItem</td>
        </tr>
    }
</table>
@code {
    [CascadingParameter(Name = "PositionContent")]
    private List<LocationItem> LocationItem { get; set; } = null;
}